h1 {
	text-align: center;
	font-size: 50px;
	margin-bottom: 0;
}
#display-country-details {
	text-align: center;
	margin-bottom: 20px;
	padding: 10px;
}
#countries-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
}
.country {
	border: 1px solid salmon;
	padding: 20px;
	border-radius: 5px;
}
